body{
    background-color:antiquewhite !important;
    background-image:url("/images/OTG-Paper.jpg");
    background-repeat: repeat;
    background-size:20em;
    background-blend-mode:luminosity;
}
nav {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction:inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: antiquewhite;
    padding: 1em;
}
nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction:inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    padding: 1em;
}
a:hover{
    color: rgb(217, 9, 245);
    text-decoration:overline
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    text-decoration-color: rgb(6, 199, 199);
    display: flex;
    justify-content: center;
}
h2{
    background-color: black;
    color: antiquewhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    text-decoration-color: rgb(6, 199, 199);
    display: flex;
    justify-content: center;
}
div nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: end;
    
 
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: antiquewhite;
    margin: 150px;
    background-color:rgb(80, 70, 70) ;
    border: 5px solid;
}
.container-fluid{
    background-color: antiquewhite;
    background-origin: padding-box;
}
#frtr{
    text-decoration: line-through;
    text-decoration-color: aqua;
}
  #frtr:hover {
    color: rgb(217, 9, 245);
    text-decoration:overline;
}

.modal-content{
    background-color: antiquewhite;
}
.modal-header{
    background-color: rgb(80, 70, 70);
    color:antiquewhite;
}
.btn-primary{
    margin-top: 9px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(255, 255, 255);
    
}
.btn-primary:hover:hover{
    background-color: rgb(2, 185, 185);
    border-color: black;
}
.btn-secondary{
    margin-top: 9px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(255, 255, 255);
    
}
.btn-secondary:hover{
    background-color: rgb(2, 185, 185);
    border-color: black;
}
  .navbar-toggler-icon{
    border: 5px outset rgb(219, 206, 189)
}
.nav-button{
    background-color: rgb(223, 209, 189) !important;
    border: rgb(189, 178, 163) !important;
    box-shadow: .3em .3em .3em .3em rgba(0, 0, 0, 0.384);
}
div button:hover{
    background-color: rgb(231, 230, 230);
    border: rgb(231, 230, 230);
    box-shadow: .3em .3em .3em .3em rgba(0, 0, 0, 0.384);
}
.center{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    border: 5px rgb(255, 255, 255) !important;
    box-shadow: .3em .3em .3em .3em rgba(0, 0, 0, 0.384);
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 5% !important;
    padding: 15px;
}
th{
    color: rgb(0, 0, 0)!important;
    padding: 15px;
}
td{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    padding: 15px;
}
th, td {
    border-bottom: 10px solid rgb(80, 70, 70);
}
tr:hover {
    background-color: rgb(231, 230, 230);
    border: rgb(231, 230, 230);
    box-shadow: .3em .3em .3em .3em rgba(0, 0, 0, 0.384);
}
form input{
    background-color: rgb(252, 246, 238);
    font-weight: bold;
}
select{
    background-color: rgba(0, 247, 247, 0.205);
    font-weight: bold;
    color: rgba(250, 235, 215, 0.699);
}
select:hover{
    background-color: rgb(2, 185, 185);
    font-weight: bolder;
    color: rgb(255, 237, 214);
}