body {
    background-color:antiquewhite !important;
}
nav a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction:inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    padding: 1em;
}
a:hover {
    color: rgb(217, 9, 245);
    text-decoration:overline
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    text-decoration-color: rgb(6, 199, 199);
    display: flex;
    justify-content: center;
}
div nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: end;
    
 
}
button{
    position: 0,0,50,0 !important;
}
.modal-content{
    background-color: lavender;
}
.btn-primary{
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    border-color: black;
}
.modal-header{
    background-color: rgb(80, 70, 70);
    color:lavender;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: antiquewhite;
    margin: 150px;
    background-color:rgb(80, 70, 70) ;
    border: 5px solid;
}
.container-fluid{
    background-color: antiquewhite;
    background-origin: padding-box;
}
  #frtr{
    text-decoration: line-through;
    text-decoration-color: aqua;
}
  #frtr:hover {
    color: rgb(217, 9, 245);
    text-decoration:overline;
}
table{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
   margin: auto;
   background-color: rgba(0, 255, 255, 0.267);
    border: 2px solid rgba(0, 255, 255, 0.123);
    box-shadow: .2em .2em .3em .3em rgba(0,0,0,0.1);
}
.center{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(0, 255, 255, 0.267);
    border: 2px solid rgba(0, 255, 255, 0.267);
    box-shadow: .2em .2em .3em .3em rgba(0,0,0,0.1);
}