body{
    background-color:antiquewhite !important;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    text-decoration-color: rgb(6, 199, 199);
    display: flex;
    justify-content: center;
}
nav {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction:inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: antiquewhite;
    padding: 1em;
} 
nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    padding: 1em;
}
a:hover{
    color: rgb(217, 9, 245);
    text-decoration:overline
}
.container-fluid{
    background-color: antiquewhite;
    background-origin: padding-box;
}
  #frtr{
    text-decoration: line-through;
    text-decoration-color: aqua;
}
  #frtr:hover{
    color: rgb(217, 9, 245);
    text-decoration:overline;
}
.card img{
    display: flex;
    justify-content:flex-end;
    width: 30vw;
    background-color: #ffffff;
    padding: 1px;
    border: 1em solid rgba(255, 255, 255, 0.89);
    box-shadow: .2em .2em .3em .3em rgba(0,0,0,0.1);
    margin: auto;
    

}
.card{
    background-color: antiquewhite !important;
    border: #ffffff !important;
    margin: auto;
    width: 30vw;
    margin-top: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.modal-header{
    background-color: rgb(80, 70, 70);
    color:antiquewhite!important;
}
.modal-content{
    background-color: antiquewhite!important;
    
}
.btn-primary{
    margin-top: 9px!important;
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
    font-weight: bold!important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    border-color: rgb(255, 255, 255)!important;
}
.btn-primary:hover:hover{
    background-color: rgb(2, 185, 185)!important;
    border-color: black!important;
}
.btn-secondary{
    margin-top: 9px!important;
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
    font-weight: bold!important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    border-color: rgb(255, 255, 255)!important; 
}
.btn-secondary:hover{
    background-color: rgb(2, 185, 185)!important;
    border-color: black!important;
}
.navbar-toggler-icon{
    border: 5px outset rgb(219, 206, 189)
}
