body{
    background-color:antiquewhite !important;
    background-color:antiquewhite !important;
    background-image:url("/images/crumpled-paper-texture-seamless.jpg");
    background-repeat: repeat;
    background-blend-mode:luminosity;
    background-size:50em;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    text-decoration-color: rgb(6, 199, 199);
    display: flex;
    justify-content: center;
}
nav {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction:inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: antiquewhite;
    padding: 1em;
} 
nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    padding: 1em;
}
a:hover{
    color: rgb(217, 9, 245);
    text-decoration:overline
}
div p{
    color:rgba(255, 217, 0, 0.63);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    padding-left: 5px;
    background-image:url(/images/brushed-gold.jpg);
    box-shadow: .2em .2em .2em .2em rgba(0, 0, 0, 0.384);
    text-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}
.price{
    color: goldenrod;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-decoration: underline;
}
div button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 6em;
    border: 1px solid rgba(255, 255, 255, 0.89);
    box-shadow: .2em .2em .2em .2em rgba(0, 0, 0, 0.384);
}
div button:hover{
    background-color: rgb(231, 230, 230);
    border: rgb(231, 230, 230);
    box-shadow: .3em .3em .3em .3em rgba(0, 0, 0, 0.384);
}
.container-fluid{
    background-color: antiquewhite;
    background-origin: padding-box;
}
  #frtr{
    text-decoration: line-through;
    text-decoration-color: aqua;
}
  #frtr:hover{
    color: rgb(217, 9, 245);
    text-decoration:overline;
}
.card img{
    display: flex;
    justify-content:flex-end;
    width: 30vw;
    background-color: #ffffff;
    padding: 1px;
    border: 1em solid rgba(255, 255, 255, 0.89);
    box-shadow: .2em .2em .3em .3em rgba(0, 0, 0, 0.219);
    margin: auto;
}
.card img:hover{
    transform: scale(1.3);
    transition: transform .2s;
    margin: auto;
    z-index: 1;
}
.gallery{
    float:left;
    margin-left: 11em;
}
.galleryc2{
    float:right;
    margin-right: 11em;
}
.card{
    background-color: rgba(250, 235, 215, 0) !important;
    border: #ffffff !important;
    margin: auto;
    width: 30vw;
    margin-top: 2em;
}
.modal-header{
    background-color: rgb(80, 70, 70);
    color:antiquewhite!important;
}
.modal-content{
    background-color: antiquewhite!important;
    
}
.btn-primary{
    margin-top: 9px!important;
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
    font-weight: bold!important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    border-color: rgb(255, 255, 255)!important;
}
.btn-primary:hover{
    background-color: rgb(2, 185, 185)!important;
    border-color: black!important;
}
.btn-secondary{
    margin-top: 9px!important;
    color: rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;
    font-weight: bold!important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    border-color: rgb(255, 255, 255)!important; 
}
.btn-secondary:hover{
    background-color: rgb(2, 185, 185)!important;
    border-color: black!important;
}
.navbar-toggler-icon{
    border: 5px outset rgb(219, 206, 189)
}
.nav-button{
    background-color: rgb(223, 209, 189) !important;
    border: rgb(189, 178, 163) !important;
    box-shadow: .3em .3em .3em .3em rgba(0, 0, 0, 0.384);
}
.card #atc{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    color:rgba(230, 174, 34, 0.938);
    border: none;
    background-image:url(/images/brushed-gold.jpg);
    box-shadow: .2em .2em .2em .2em rgba(0, 0, 0, 0.384);
}
.card #atc:hover{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    color:rgba(184, 139, 25, 0.938);
    background-image:url(/images/brushed-gold.jpg);
    background-size: cover;
    box-shadow: .3em .3em .2em .2em rgba(0, 0, 0, 0.384);
}