body{
    background-color:antiquewhite !important;
    background-image:url("/images/grouchSAT.png");
    background-repeat:repeat;
    background-size:12em;
    background-blend-mode:luminosity;
    
}
nav{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction:inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: antiquewhite;
    padding: 1em;
}
nav a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction:inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    color: antiquewhite;
    padding: 1em;
}

a:hover{
    color: rgb(217, 9, 245);
    text-decoration:overline
}
h1{
    background-color: black;
    color: antiquewhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    text-decoration-color: rgb(6, 199, 199);
    display: flex;
    justify-content: center;
}
h2{
    color: antiquewhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:line-through;
    text-decoration-color: rgb(6, 199, 199);
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
p{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align:center;
    font-weight: 600;
    
}
ol{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(0, 255, 255, 0.267);
    border: 2px solid rgba(0, 255, 255, 0.267);
    box-shadow: .2em .2em .3em .3em rgba(0,0,0,0.1);
    
}
.modal{
    position: inherit;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0px;
}
.modal-content{
    background-color: rgb(228, 216, 202);
}
.modal-header{
    background-color: rgb(80, 70, 70);
    color:antiquewhite;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 150px;
    background-color:black ;
    border: 5px solid;
}
img{
    display: flex;
    justify-content:flex-end;
    width: 25vw;
    background-color: #ffffff;
    padding: 1px;
    border: 1em solid rgba(255, 255, 255, 0.89);
    box-shadow: .2em .2em .3em .3em rgba(0,0,0,0.1);
    margin: auto;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container-fluid{
    background-color: antiquewhite;
    background-origin: padding-box;
}
#frtr{
    text-decoration: line-through;
    text-decoration-color: aqua;
}
#frtr:hover{
    color: rgb(217, 9, 245);
    text-decoration:overline;
}
.btn-primary{
    margin-top: 9px;
    color: antiquewhite;
    background-color: rgb(80, 70, 70);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(80, 70, 70);
    
}
.btn-primary:hover:hover{
    background-color: rgb(217, 9, 245);
    border-color: black;
}
.btn-secondary{
    margin-top: 9px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: rgb(255, 255, 255);
    
}
.btn-secondary:hover{
    background-color: rgb(2, 185, 185);
    border-color: black;
}
.navbar-toggler-icon{
    border: 5px outset rgb(219, 206, 189)
}
